{{yield}}

{{#if difficulty1}}
<span class="glyphicon glyphicon-star"></span>
{{else}}
<span class="glyphicon glyphicon-star-empty"></span>
{{/if}}
{{#if difficulty2}}
<span class="glyphicon glyphicon-star"></span>
{{else}}
<span class="glyphicon glyphicon-star-empty"></span>
{{/if}}
{{#if difficulty3}}
<span class="glyphicon glyphicon-star"></span>
{{else}}
<span class="glyphicon glyphicon-star-empty"></span>
{{/if}}
{{#if difficulty4}}
<span class="glyphicon glyphicon-star"></span>
{{else}}
<span class="glyphicon glyphicon-star-empty"></span>
{{/if}}
{{#if difficulty5}}
<span class="glyphicon glyphicon-star"></span>
{{else}}
<span class="glyphicon glyphicon-star-empty"></span>
{{/if}}
