{{yield}}
<!-- result-correct-display -->
<div class="modal fade" id="result-correct-display-modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header btn-success">
        Solution correct
      </div>
      <div class="modal-body">
        <dl class="dl-horizontal">
          <dt>Started:</dt>
          <dd>{{createdAtReadable}}</dd>
          <dt>Submitted:</dt>
          <dd>{{submittedAtReadable}}</dd>
          <dt>Time needed:</dt>
          <dd>{{timeNeeded}}</dd>
          <dt>Tries:</dt>
          <dd>{{tries}}</dd>
          <dt>Difficulty</dt>
          <dd>{{difficulty}}</dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" {{action "newTask" on="click"}}> New Task </button>
      </div>
    </div>
  </div>
</div>
<!-- result-correct-display - end -->
