{{yield}}

<div class="panel panel-default">
  <div class="panel-heading">
    Database-Schema
  </div>
  <div class="panel-body scrollpanel">
    {{#each TaskObject.schema.tables as |table|}}
      <p aria-expanded="true" aria-controls="{{table.name}}"
          class="collapsecontrol" data-toggle="collapse" data-target="#{{table.name}}">
        <strong>{{ table.name }}</strong> : TABLE
        <small class="pull-right">COLUMNS</small>
        <span class="glyphicon glyphicon-chevron-down pull-right"/>
        <span class="glyphicon glyphicon-chevron-right pull-right"/>
      </p>


      <p id="{{table.name}}" class="container-fluid collapse in collapsablecontent">
        <div class="row">
          <div class="col-xs-6">
            <small><b>NAME</b></small>
          </div>
          <div class="col-xs-6">
            <small><b>TYPE</b></small>
          </div>
        </div>
        {{#each table.columns as |column|}}
          <div class="row">
            <div class="col-xs-6">
              <small>
                {{#if column.isPrimary}}
                  <u>{{column.name}}</u>
                {{else if column.isNullable}}
                  {{column.name}}<small>, Nullable</small>
                {{else}}
                  {{column.name}}
                {{/if}}
              </small>
            </div>
            <div class="col-xs-6">
              <small>{{column.datatype}}</small>
            </div>
          </div>
        {{/each}}
      </p>
    {{/each}}
  </div>
</div>
