{{yield}}

<div class="panel panel-default">
  <div class="panel-heading">
    Database-Schema
  </div>
  <div class="panel-body scrollpanel">
    {{#each TaskObject.tables as |table|}}
      <div aria-expanded="true" aria-controls="{{table.name}}"
       class="collapsecontrol" data-toggle="collapse" data-target="#{{table.name}}">
       <i> {{ table.name }} </i>
       <span class="glyphicon glyphicon-chevron-down pull-right"/>
       <span class="glyphicon glyphicon-chevron-right pull-right"/>
      </div>

      <div id="{{table.name}}" class="collapse in collapsablecontent" style="padding-left:2em">
        <div class="row">
          <div class="col-xs-6">
            <b>Name</b>
          </div>
          <div class="col-xs-6">
            <b>Type</b>
          </div>
          <div class="clearfix"></div>
        </div>
        {{#each table.columns as |column|}}
          <div class="row">
            <div class="col-xs-6">
              {{#if column.isPrimary}}
                <u>{{column.name}}</u>
              {{else if column.isNullable}}
                {{column.name}}<i>, Nullable</i>
              {{else}}
                {{column.name}}
              {{/if}}
            </div>
            <div class="col-xs-6">
              {{column.columnType}}
            </div>
          </div>
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
