<div class="container-fluid">
  {{#if model.error.message}}
    <div class="panel panel-{{model.error.color}}">
      <div class="panel-heading">
          Error occured:
        </div>
      <div class="panel-body">
        {{{model.error.message}}}
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-md-5" style="height:100%">
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          {{model.task.text}}
          {{#if model.resultSet.hintMessage}}
            <hr class="fine">
            <div class="hint pull-right">
              Hint: <i>{{{model.resultSet.hintMessage}}}</i>
            </div>
          {{/if}}
        </div>
      </div>
      {{#unless model.isCorrect}}
        {{schema-accordion model.task}}
      {{/unless}}
      {{#if model.isCorrect}}
        {{result-correct-display stats=model.stats}}
      {{/if}}
    </div>
    <div class="col-md-7">
      {{trainer-ace-editor editorContent=model.userStatement onExportData=(action "submitStatement") onNewTask=(action "finishTaskTrial")}}

      <h3> ResultSet: <small>{{#if model.resultSet}}last executed{{else}}none yet{{/if}}</small></h3>

      {{#unless model.resultSet.errorMessage}}
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              {{#each model.resultSet.header as |headEntry|}}
                <th>{{headEntry}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each model.resultSet.datasets as |dataset|}}
              <tr>
                {{#each dataset as |setEntry|}}
                  <td>
                    {{setEntry}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{/unless}}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{{outlet}}
