<div class="container-fluid">
  <div class="row">
    <div class="col-md-5" style="height:100%">
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          {{model.taskText}}
        </div>
      </div>
      {{schema-accordion model}}
    </div>
    <div class="col-md-7">
      {{trainer-ace-editor editorContent=userStatement onExportData=(action "submitStatement")}}

      <h3> ResultSet:{{#if model.resultSet}} {{else}} <small> none yet</small> {{/if}}</h3>

      {{#if model.resultSet}}
      <table class="table table-condensed table-bordered">
        <thead>
          <tr>
            {{#each model.resultSet.header as |headEntry|}}
              <th>{{headEntry}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each model.resultSet.datasets as |dataset|}}
            <tr>
              {{#each dataset as |setEntry|}}
                <td>
                  {{setEntry}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{/if}}

    </div>
    <div class="clearfix"></div>
  </div>
</div>
{{outlet}}
