
<div class="container-fluid">
  {{result-correct-display stats=model.taskTrialStatus displayStats=displayStats onNewTask=(action 'finishTaskTrial')}}

  {{#if model.error.message}}
    <div class="panel panel-{{model.error.color}}">
      <div class="panel-heading">
          Error occured:
        </div>
      <div class="panel-body">
        {{{model.error.message}}}
      </div>
    </div>
  {{/if}}

  <div class="row">

    <div class="col-md-5" style="height:100%">
      <!-- Task Panel -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          {{model.task.text}}
          {{#if model.resultSet.hintMessage}}
            <hr class="fine">
            <div class="hint pull-right">
              Hint: <i>{{{model.resultSet.hintMessage}}}</i>
            </div>
          {{/if}}
        </div>
      </div><!-- Task Panel -->

      {{schema-accordion model.task}}

    </div>
    <div class="col-md-7">

      {{trainer-ace-editor
        editorContent=model.taskTrialStatus.statement
        disabled=model.taskTrialStatus.isCorrect
        onExportData=(action "submitStatement")
        onNewTask=(action "finishTaskTrial")
        onShowStats=(action "showStatsModal")
        onChangeDifficulty=(action "changeDifficulty")
        difficulty=difficulty
      }}

      <h3> ResultSet: <small>{{#if model.resultSet}}last executed{{else}}none yet{{/if}}</small></h3>

      {{#unless model.resultSet.errorMessage}}
      <!-- ResultSet Table -->
      <div class="table-responsive">
        <table class="table table-condensed table-bordered">
          <thead>
            <tr>
              {{#each model.resultSet.header as |headEntry|}}
                <th>{{headEntry}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
            {{#each model.resultSet.dataSets as |dataSet|}}
              <tr>
                {{#each dataSet as |setEntry|}}
                  <td>
                    {{setEntry}}
                  </td>
                {{/each}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div><!-- ResultSet Table -->
      {{/unless}}
    </div>
    <div class="clearfix"></div>
  </div>
</div>
{{outlet}}
