<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          Select bla from XYZ
        </div>
      </div>
      <div>
        {{#each model as |task|}}
          {{task.taskText}}
          {{#each task.relations as |relation|}}
            {{relation.name}}
            {{#each relation.columns as |column|}}
              {{column.name}}
            {{/each}}
          {{/each}}
        {{/each}}
      </div>
    </div>
    <div class="col-md-7">
      {{trainer-ace-editor}}
      <div>
        Result
      </div>
    </div>
  </div>
</div>
{{outlet}}
