<div class="container">
  <div class="row">
    <div class="col-md-5" style="height:100%">
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          {{model.taskText}}
        </div>
      </div>
      {{schema-accordion model}}
    </div>
    <div class="col-md-7">
      {{trainer-ace-editor exportData=editorContent onExportData=(action "exportData")}}

      <table class="table table-default">
        <thead>
          <tr>
            {{#each model.result.columns as |column|}}
              <th>
                {{column.name}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each model.result.rows as |row|}}
            <tr>
              {{#each row.entryset as |entry|}}
                <td>
                  {{entry.value}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    <div class="clearfix"></div>
  </div>
</div>
{{outlet}}
