<div class="container">
  <div class="row">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          Task
        </div>
        <div class="panel-body">
          {{model.taskText}}
        </div>
      </div>
      <div>
      <b>TaskText:</b> {{model.taskText}}  <br>
      {{#each model.relations as |relation|}}
        <b>Relation:</b> {{relation.name}} <br>
        {{#each relation.columns as |column|}}
        <b>Column:</b> {{column.name}} {{column.columnType}} <br>
        {{/each}}
      {{/each}}
      </div>
    </div>
    <div class="col-md-7">
      {{trainer-ace-editor exportData=editorContent onExportData=(action "exportData")}}

      <table class="table table-default">
        <thead>
          <tr>
            {{#each model.result.columns as |column|}}
              <th>
                {{column.name}}
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each model.result.rows as |row|}}
            <tr>
              {{#each row.entryset as |entry|}}
                <td>
                  {{entry.value}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{outlet}}
